/* Today Class i learn:-
 1). What is Positioning:- Relative, Absolute, Fixed, and Sticky? */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#box1 {
    width: 100%;
    /* height: 3000px; */
    background-color: blue;
}

#box2 {
    width: 100%;
    height: 2000px;
    background-color: rgb(255, 0, 187);
}

#sticky {
    position: sticky;
    top: 10px;
    width: 200px;
    height: 200px;
    background-color: brown;
}

#box3 {
    width: 100%;
    height: 1500px;
    background-color: rgb(0, 208, 255);
}

button {
    position: fixed;
    top: 5px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    text-transform: uppercase;
    color: coral;
    background-color: blue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#box4 {
    width: 100%;
    height: 1500px;
    background-color: rgb(255, 0, 187);
}